@import url(../css/reset.css);

:root {
  --font-family-muli: "Muli", sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-style-normal: normal;
  --font-style-italic: italic;

  --primary-bg-color: #1363df;

  --text-white: #fff;
  --text-primary: #172026;
  --text-main-nav: #fff;
  --text-light-black: #545d63;
  --text-black-2: #181c24;
  --gray-border: #d1d3d6;

  --font-size-xx-small: 0.625rem;
  /* 10px */
  --font-size-x-small: 0.75rem;
  /* 12px */
  --font-size-small: 0.875rem;
  /* 14px */
  --font-size-medium: 1rem;
  /* 16px */
  --font-size-large: 1.125rem;
  /* 18px */
  --font-size-x-large: 1.25rem;
  /* 20px */
  --font-size-xx-large: 1.5rem;
  /* 24px */
  --font-size-xxx-large: 2rem;
  /* 32px */
  --font-size-xxxx-large: 2.5rem;
  /* 40px */
}

body {
  font-family: var(--font-family-muli);
  font-weight: var(--font-weight-regular);
  margin: 0;
  padding: 0;
}
#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.page__h1 {
  font-family: var(--font-family-muli);
  font-weight: var(--font-weight-bold);
  font-size: 2.125rem;
}
header {
  background-color: var(--primary-bg-color);
  text-align: center;
  padding: 0 1.25rem;
}
.mainheader {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainheader__bar {
  display: none;
}
.mainheader .mainheader__navbar {
  display: flex;
  justify-content: space-between;
}

.mainheader .mainheader__navbar li a {
  padding: 0.625rem;
  font-size: var(--font-size-medium);
  color: var(--text-white);
  font-weight: var(--font-weight-semibold);
  text-transform: capitalize;
  position: relative;
  transition: all ease-in-out 300ms;
}

.mainheader .mainheader__navbar li a::after {
  content: "";
  display: none;
  width: 100%;
  height: 0.438rem;
  background: #fff;
  position: absolute;
  bottom: -1.25rem;
  left: 0;
  opacity: 0;
  transition: all ease-in-out 300ms;
}

.mainheader .mainheader__navbar li a:hover::after {
  opacity: 1;
  display: block;
}

header input {
  width: 80%;
  padding: 0.5rem;
  margin-top: 1rem;
}
.banner {
  display: flex;
}
.banner .banner__heading {
  width: 40%;
  background-color: #1b252c;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 555 / 352;
}
.banner_image {
  width: 100%;
  max-width: 85.313rem;
  padding-top: 0.8%;
}
.banner__heading h1 {
  max-width: 50%;
  text-align: center;
  color: var(--text-white);
  text-transform: capitalize;
  line-height: 2.5rem;
  font-size: 2rem;
}

.banner__heading h1::after {
  content: "";
  display: block;
  width: 40%;
  height: 0.5rem;
  background-color: var(--primary-bg-color);
  margin: 10px auto;
}

.productdisplay {
  margin-top: 2.5rem;
  display: flex;
  width: 100%;
}
.productdisplay__links {
  color: var(--text-primary);
  font-size: var(--font-size-medium);
  text-transform: capitalize;
}
.productdisplay__links--active {
  color: var(--text-light-black);
}
.productdisplay__filter {
  margin-top: 2.5rem;
}
.productdisplay__filter--label {
  font-size: var(--font-size-x-large);
  color: var(--text-black-2);
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: solid 2px var(--gray-border);
}
.productdisplay__aside {
  width: 18.75rem;
  min-width: 18.75rem;
  margin-right: 1.25rem;
}
.productdisplay__search input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: solid 2px var(--gray-border);
  margin-bottom: 1.25rem;
  padding-right: 4.375rem;
}
.productdisplay__products {
  width: 100%;
}
.productdisplay__header {
  display: flex;
  justify-content: space-evenly;
}
.productdisplay__products--sort {
  margin-left: auto;
}
.productdisplay__search {
  position: relative;
}
.productdisplay__search--button {
  background-color: var(--primary-bg-color);
  color: var(--text-white);
  font-size: var(--font-size-small);
  border: none;
  padding: 0.55rem;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
#products {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

#products .product {
  padding: 1rem;
  text-align: left;
  color: var(--text-primary);
}
.product .productImage {
  min-height: 200px;
}
.product img {
  margin-bottom: 0.625rem;
}
.product h3 {
  margin-bottom: 0.625rem;
  font-size: var(--font-size-large);
}
.product p {
  margin-bottom: 0.625rem;
  font-size: var(--font-size-medium);
}
.productdisplay__category {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  margin-bottom: 0.625rem;
}
.pagination {
  display: flex;
  justify-content: center;
}

.loadbtn {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.loadbtn__loadBtn--button {
  background-color: var(--primary-bg-color);
  color: var(--text-white);
  font-size: var(--font-size-small);
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}
.filters li {
  margin-bottom: 0.625rem;
}
.filters li label {
  text-transform: capitalize;
  margin-left: 0.313rem;
}
#loading {
  width: 100%;
}

.footer {
  padding: 2.5rem 0;
  border-top: solid 2px #e5e5e7;
}
.footer__main {
  display: flex;
  justify-content: space-between;
}
.footer__section {
  flex: 1;
  margin: 0 10px;
}

.footer__heading {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  color: var(--text-primary);
  margin-bottom: 1.25rem;
}

.footer__list {
  list-style: none;
  padding: 0;
}

.footer__link {
  text-decoration: none;
  color: var(--text-light-black);
  display: block;
  margin-bottom: 0.625rem;
  font-size: var(--font-size-medium);
  text-transform: capitalize;
}

.footer__copyright{
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}
.footer__logo{
  font-size: var(--font-size-xxx-large);
}
/* Responsive style for Large screens (1440px) */
@media screen and (max-width: 1440px) {
  .banner .banner__heading .banner__heading {
    width: 416px;
  }
}

/* Responsive style for Medium screens (1280px) */
@media screen and (max-width: 1280px) {
  .banner .banner__heading .banner__heading {
    width: 370px;
  }
}

/* Responsive style for Small screens (1024px) */
@media screen and (max-width: 1024px) {
  .banner .banner__heading .banner__heading {
    width: 296px;
  }
}
/* Responsive style for mobile to tablet */
@media (min-width: 300px) and (max-width: 768px) {
  .footer__main {
    flex-direction: column;
  }
  .mainheader__bar {
    display: block;
  }

  .mainheader {
    justify-content: space-between;
  }

  .mainheader__logo {
    order: 2;
  }

  .mainheader__cart {
    order: 3;
  }

  .mainheader__bar {
    order: 1;
  }

  #navbar {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
  }

  #navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background: #fff;
  }

  #navbar ul li {
    border-bottom: 1px solid #ccc;
  }

  #navbar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
  }

  /* Toggle button */
  #navbar-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-white);
  }

  .banner {
    flex-direction: column-reverse;
  }
  .banner_image {
    padding: 0;
  }
  .banner .banner__heading {
    width: 90%;
    margin: 0 auto;
    margin-top: -20%;
    aspect-ratio: 555 / 250;
  }
  .banner__heading h1 {
    max-width: 35%;
  }
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .productdisplay {
    flex-direction: column;
  }
  .product__section {
    flex-direction: column;
  }
  .footer__heading{
    margin-top: 1.25rem;
  }
  .footer__copyright{
    flex-direction: column;
    text-align: center;
  }
  .footer__txt{
    order: 1;
  }
  .footer__logo{
    order: 2;
    margin-top: 1.25rem;
  }
  .productdisplay__filter{
    margin-bottom: 1.25rem;
  }
  .productdisplay__aside{
    width: 100%;
    min-width: auto;
  }
}

@media  (min-width: 300px) and (max-width: 600px) {
  .banner__heading h1 {
    max-width: 75%;
  }
}